version: "3.7"

x-logging: &logging
  logging:
    driver: "json-file"
    options:
      max-file: "10"
      max-size: "100m"

services:
  stereum-init:
    image: stereum/init:buster
    restart: "no"
    volumes:
      - ./data/grafana:/mnt/grafana
      - ./data/sigmaprime/lighthouse:/mnt/lighthouse
      - ./data/sigmaprime/slasher:/mnt/slasher
      - ./wallets:/mnt/wallets
      - ./data/prometheus:/mnt/prometheus
    <<: *logging

  geth:
    image: ethereum/client-go:${GETH_DOCKER_TAG}
    restart: always
    command: --goerli --http --http.port=8545 --http.addr=0.0.0.0 --http.vhosts="*" --allow-insecure-unlock --http.api="db,eth,net,web3,personal"
    stop_grace_period: 5m
    ports:
      - 30303:30303/tcp
      - 30303:30303/udp
      - ${BEACON_API_IP}:8545:8545
    volumes:
      - ./data/geth:/root/.ethereum
    <<: *logging

  beacon:
    image: stereum/lighthouse:${LIGHTHOUSE_DOCKER_TAG}
    user: "2000"
    depends_on:
      - stereum-init
    volumes:
      - ./data/sigmaprime/lighthouse:/opt/app/beacon
      - ./data/sigmaprime/slasher:/opt/app/slasher
    ports:
      - 9000:9000/tcp
      - 9000:9000/udp
      - ${BEACON_API_IP}:5052:5052
    env_file: ./config/lighthouse/beacon.env
    entrypoint: /opt/app/start/beacon.sh
    restart: unless-stopped
    <<: *logging

  validator:
    image: stereum/lighthouse:${LIGHTHOUSE_DOCKER_TAG}
    user: "2000"
    depends_on:
      - stereum-init
      - beacon
    volumes:
      - ./wallets:/opt/app/validator
    env_file: ./config/lighthouse/validator.env
    entrypoint: /opt/app/start/validator.sh
    restart: on-failure
    <<: *logging

  prometheus:
    image: prom/prometheus:${PROMETHEUS_DOCKER_TAG}
    user: "2000"
    depends_on:
      - stereum-init
    restart: unless-stopped
    hostname: prometheus
    command: --storage.tsdb.retention.time=7d --config.file=/etc/prometheus/prometheus.yml
    ports:
    - ${BEACON_API_IP}:9090:9090
    volumes:
    - ./config/prometheus/prometheus-lh.yaml:/etc/prometheus/prometheus.yml:ro
    - ./data/prometheus:/prometheus
    <<: *logging

  grafana:
    image: grafana/grafana:${GRAFANA_DOCKER_TAG}
    user: "2000"
    depends_on:
      - stereum-init
      - prometheus
    restart: unless-stopped
    hostname: grafana
    ports:
      - ${BEACON_API_IP}:3000:3000
    volumes:
      - ./config/grafana/provisioning-lh:/etc/grafana/provisioning:ro
      - ./data/grafana:/var/lib/grafana
      - ./config/grafana/grafana.ini:/etc/grafana/grafana.ini:ro
    environment:
      GF_RENDERING_SERVER_URL: http://renderer:8082/render
      GF_RENDERING_CALLBACK_URL: http://grafana:3000    
    <<: *logging

  renderer:
    image: grafana/grafana-image-renderer:${GRAFANA_IMAGE_RENDERER_TAG}
    user: "2000"
    restart: on-failure
    hostname: renderer
    environment:
      ENABLE_METRICS: 'true'
      HTTP_PORT: 8082
    <<: *logging

  node-exporter:
    image: prom/node-exporter:${PROMETHEUS_NODE_EXPORTER_DOCKER_TAG}
    user: "2000"
    hostname: node-exporter
    <<: *logging  

# EOF
