############################################################
##
## Read up on parameters on
## https://docs.prylabs.network/docs/prysm-usage/parameters/
##
############################################################

accept-terms-of-use: yes

datadir: /data

#######################
# Connectivity settings 
p2p-host-ip: ""
p2p-host-dns: ""

rpc-host: 0.0.0.0
monitoring-host: 0.0.0.0

# disable scan of local network
p2p-denylist: ["10.0.0.0/8","172.16.0.0/12","192.168.0.0/16","100.64.0.0/10","169.254.0.0/16"]

# changing this also needs to be changed in docker-compose.yaml!
p2p-tcp-port: 13000

p2p-max-peers: 100

##############################
# Connection to geth container
http-web3provider: http://geth:8545

historical-slasher-node: yes
subscribe-all-subnets: yes
block-batch-limit: 512

mainnet: yes

# https://github.com/attestantio/vouch/issues/6
rpc-max-page-size: 100000
grpc-max-msg-size: 268435456
